<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Status</title>
    <link rel="stylesheet" href="/Static/styles.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&family=Orbitron:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body>

<!-- Header com logo e botão -->
<div class="header">
    <!-- Div que contém logo e nome -->
    <div class="logo">
        <img src="/Back End/app/Resource/Logo_DD_N_3-removebg-preview.ico" alt="Logo"> <!-- Imagem da logo -->
        <h1>Auto Status</h1> <!-- Nome do site -->
    </div>
    <!-- Botão de refresh -->
    <button class="button">Gerar PDF</button>
</div>


<div class="status-dashboard">
    <!-- ROBO FECHAMENTO -->
    <div class="status-item">
        <div class="status-header">
            <div class="status-title">
                Robô de Fechamento
                <i class="bi bi-question-circle" title="Ajuda sobre este robô"></i>
            </div>
            <span class="status-state" id="estado-atual">Carregando...</span> <!-- O estado será atualizado -->
        </div>
        
        <div class="bar-container"></div>
        <div class="status-footer">
            <span>30 dias atrás</span>
            <span></span>
            <span>Hoje</span>
        </div>
    </div>

    <!-- Robô de Notificação -->
    <div class="status-item">
        <div class="status-header">
            <div class="status-title">Robô de Notificação
                <i class="bi bi-question-circle" title="Este é um botão de ajuda"></i>
            </div> 
            <span class="status-state">Operational</span>
        </div>
        <div class="bar-container"></div>
        <div class="status-footer">
            <span>30 dias atrás</span>
            <span></span>
            <span>Hoje</span>
        </div>
    </div>

        <!-- Fluig -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Fluig 
                    <i class="bi bi-question-circle" title="Este é um botão de ajuda"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>

        <!-- Robô 4 -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Robô 4 
                    <i class="bi bi-question-circle" title="Este é um botão de ajuda"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>

        <!-- Robô 5 -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Robô 5 
                    <i class="bi bi-question-circle" title="Este é um botão de ajuda"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>



 <div class="container">
    <h2>Incidentes Passados <i class="fas fa-edit edit-icon"></i></h2>
        <div class="incident">
            <div class="incident-date">14 de janeiro de 2025</div>
            <div class="incident-title">O ChatGPT não consegue navegar na web para obter informações atualizadas.</div>
            <div class="status status-resolved">Resolvido - Este incidente foi resolvido. <span class="timestamp">14 de janeiro, 03:20 PST</span></div>
            <div class="status status-monitoring">Monitoramento - Uma correção foi implementada e estamos monitorando os resultados. <span class="timestamp">14 de janeiro, 03:17 PST</span></div>
            <div class="status status-investigating">Investigando - Estamos investigando o problema no momento. <span class="timestamp">14 de janeiro, 02:58 PST</span></div>
        </div>

        <div class="incident">
            <div class="incident-date">13 de janeiro de 2025</div>
            <div class="incident-title">Problemas de acesso ao fazer login com SSO para ChatGPT</div>
            <div class="status status-resolved">Resolvido - O problema foi resolvido. <span class="timestamp">13 de janeiro, 12:06 PST</span></div>
            <div class="status status-monitoring">Monitoramento - Uma correção foi implementada e estamos monitorando os resultados. Publicaremos uma atualização assim que pudermos confirmar a resolução ou se o problema persistir. <span class="timestamp">13 de janeiro, 11:43 PST</span></div>
            <div class="status status-update">Atualização - Continuamos investigando o problema e forneceremos uma atualização assim que possível. <span class="timestamp">13 de janeiro, 10:33 PST</span></div>
            <div class="status status-update">Atualização - Continuamos investigando o problema e forneceremos uma atualização assim que possível. <span class="timestamp">13 de janeiro, 09:28 PST</span></div>
            <div class="status status-investigating">Investigando - Estamos cientes de que alguns usuários estão tendo problemas para fazer login com SSO para ChatGPT e estamos investigando no momento. <span class="timestamp">13 de janeiro, 09:48 PST</span></div>
        </div>

        <div class="incident">
            <div class="incident-date">7 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">6 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">5 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">4 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">3 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">2 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">1 de janeiro de 2025</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
        <div class="incident">
            <div class="incident-date">31 de dezembro de 2024</div>
            <div class="status">Nenhum incidente relatado.</div>
        </div>
    </div>

    <footer>
        <div class="footer-content">
            <a href="#">&larr; Histórico de incidentes</a>
        </div>
    </footer>


    

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>



</body>
</html>
