<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Auto Status</title>
    <link rel="stylesheet" href="/Static/styles.css"> 
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Pacifico&family=Orbitron:wght@400;700&family=Poppins:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.3/html2pdf.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.10.2/html2pdf.bundle.min.js" integrity="sha512-MpDFIChbcXl2QgipQrt1VcPHMldRILetapBl5MPCA9Y8r7qvlwx1/Mc9hNTzY+kS5kX6PdoDq41ws1HiVNLdZA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/1.4.1/html2canvas.min.js"></script>


</head>
<body>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <div id="area-captura" style="padding: 20px; border: 1px solid rgba(255, 255, 255, 0);">
<!-- Header com logo e botão -->
<div class="header">
    <!-- Div que contém logo e nome -->
    <div class="logo">
        <!-- Logo da empresa -->
        <img src="/static/logodd.ico" alt="Logo">
        <!-- Nome do site com gradiente -->
        <h1>Auto Status</h1>
    </div>

        <!-- Área que será capturada -->
        

        
    <!-- Botão de refresh -->
    <button id="gerar-png" class="button">Gerar PNG</button>

    
</div>


<div class="status-dashboard">
    <!-- ROBO FECHAMENTO -->
    <div class="status-item">
        <div class="status-header">
            <div class="status-title">
                Robô Fechamento
                <i class="bi bi-question-circle info-icon" data-nome="Robô Fechamento"></i>
            </div>
            <div id="modal-container" style="display: none;">
                <!-- O conteúdo do modal será preenchido dinamicamente -->
            </div>
            <span class="status-state" id="estado-atual">Carregando...</span> <!-- O estado será atualizado -->
        </div>
        
        <div class="bar-container"></div>
        <div class="status-footer">
            <span>30 dias atrás</span>
            <span><div class="status-percentage"></div></span>
            <span>Hoje</span>
        </div>
    </div>

    <!-- Robô de Notificação -->
    <div class="status-item">
        <div class="status-header">
            <div class="status-title">Robô de Notificação
                <i class="bi bi-question-circle info-icon" data-nome="Robô de Notificação"></i>
            </div> 
            <span class="status-state">Operational</span>
        </div>
        <div class="bar-container"></div>
        <div class="status-footer">
            <span>30 dias atrás</span>
            <span></span>
            <span>Hoje</span>
        </div>
    </div>

        <!-- Fluig -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Fluig 
                    <i class="bi bi-question-circle info-icon" data-nome="Fluig"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>

        <!-- Robô 4 -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Robô 4 
                    <i class="bi bi-question-circle info-icon" data-nome="Robô 4"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>

        <!-- Robô 5 -->
        <div class="status-item">
            <div class="status-header">
                <div class="status-title">Robô 5 
                    <i class="bi bi-question-circle info-icon" data-nome="Robô 5"></i>
                </div>
                <span class="status-state">Operational</span>
            </div>
            <div class="bar-container">
                <!-- Barras de exemplo para Fluig -->
                

            </div>
            <div class="status-footer">
                <span>30 dias atrás</span>
                <span></span>
                <span>Hoje</span>
            </div>
        </div>
    </div>
        <br>
    </div>

        <h2>Incidentes Passados</h2>

    <!-- Container para as atualizações -->
        <div id="atualizacoes-container">
    <!-- As atualizações serão carregadas dinamicamente aqui -->
        </div>

        <br>
           
        <div style="position: relative; width: 100%; max-width: 1800px; margin: auto;">
            <iframe 
              id="myIframe" 
              src="https://docs.google.com/document/d/1nsKhwhluF29EMY2aHfcZmcsHIttuFvr7km2DGN5yAOM/preview" 
              width="100%" 
              height="1500px" 
              style="border: none;">
            </iframe>
            <button onclick="toggleFullScreen()" style="margin-top: 10px; padding: 10px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">
              Tela Cheia
            </button>
          </div>
          
              
              <script>
                function toggleFullScreen() {
                  const iframe = document.getElementById('myIframe');
                  if (iframe.requestFullscreen) {
                    iframe.requestFullscreen();
                  } else if (iframe.mozRequestFullScreen) {
                    iframe.mozRequestFullScreen();
                  } else if (iframe.webkitRequestFullscreen) {
                    iframe.webkitRequestFullscreen();
                  } else if (iframe.msRequestFullscreen) {
                    iframe.msRequestFullscreen();
                  }
                }
              </script>
              
            
        
        

    

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="{{ url_for('static', filename='script.js') }}"></script>



</body>
</html>
